SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
PATENTSVIEW_API_KEY=
WEXTRACTOR_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
MEM0_API_KEY=
SEC_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
AWS_FOLDER=
AWS_REGION=
APP_NAME=
APP_VERSION=
SECRET_KEY=